body, html {
    height: 100%;
    font-family: 'Oldenburg', cursive;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home-img.jpg");

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h1 {
    font-size: 3em;
}

.hero-text .card-title {
    color: black;
    font-size: 2em;
}

.card {
    color: #000000;
    max-height: 600px;
    overflow: auto;
}

#footer {
    position: fixed;
    text-align: center;
    font-style: italic;
    bottom:0px;
    height:30px;
    width: 100%;
    background: transparent;
    color: white;
}

table {
    width: 100%;

}

thead {
    border-bottom: 2px solid black;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px transparent;
    border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px black;
    border: solid 3px transparent;
}
